
<div id="homeContainer">
    <div>
        <div>
            <h1 id="TitleGame" class="animated fadeInDown">
                <span class="TitleGame-letter--blue">c</span>
                <span class="TitleGame-letter--green">o</span>
                <span class="TitleGame-letter--yellow">l</span>
                <span class="TitleGame-letter--orange">o</span>
                <span class="TitleGame-letter--red">r</span>
                <span class="TitleGame-letter--purple">z</span>
            </h1>
        </div>

        <div class="i-g">
            <div class="i-6">
                <div id="goToGame" class="HomeButton HomeButton--relax animated zoomIn" style="animation-delay: .1s">Relax</div>
            </div>
            <div class="i-6">
                <div class="HomeButton  HomeButton--time animated zoomIn" style="animation-delay: .2s">Tempo</div>
            </div>
            <div class="i-6">
                <div class="HomeButton  HomeButton--levels animated zoomIn" style="animation-delay: .3s">Livelli</div>
            </div>
            <div class="i-6">
                <div class="HomeButton  HomeButton--info animated zoomIn" style="animation-delay: .4s">Info</div>
            </div>
        </div>
    </div>
</div>





