
<div id="Title">
    <h1>
        <span class="Title-letter--green">l</span>
        <span class="Title-letter--yellow">e</span>
        <span class="Title-letter--orange">v</span>
        <span class="Title-letter--red">e</span>
        <span class="Title-letter--blue">l</span>
    </h1>
</div>

<div id="PawnLeft" class="i-g">
    <div class="i-4">
        <div id="PawnLeft-dummyContainer--red">
            <div id="PawnLeft--placeholder--red" class="PawnLeft--placeholder"></div>
        </div>
        <div id="PawnLeft--red-text">x6</div>
    </div>
    <div class="i-4">
        <div id="PawnLeft-dummyContainer--green">
            <div id="PawnLeft--placeholder--green" class="PawnLeft--placeholder"></div>
        </div>
        <div id="PawnLeft--green-text">x6</div>
    </div>
    <div class="i-4">
        <div id="PawnLeft-dummyContainer--blue">
            <div id="PawnLeft--placeholder--blue" class="PawnLeft--placeholder"></div>
        </div>
        <div id="PawnLeft--blue-text">x6</div>
    </div>
</div>

<div id="ChessboardContainer">
    <table id="Chessboard">
        <tbody>
            <tr id="Chessboard-row1">
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
            </tr> <!-- FINE RIGA 1 -->
            <tr id="Chessboard-row2">
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
            </tr> <!-- FINE RIGA 2 -->
            <tr id="Chessboard-row3">
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
            </tr> <!-- FINE RIGA 3 -->
            <tr id="Chessboard-row4">
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
            </tr> <!-- FINE RIGA 4 -->
            <tr id="Chessboard-row5">
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
            </tr> <!-- FINE RIGA 5 -->
            <tr id="Chessboard-row6">
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
                <td class="dropzone Chessboard-cell Chessboard-border"></td>
            </tr> <!-- FINE RIGA 6 -->
        </tbody>
    </table>
</div><!-- FINE ChessboardContainer -->

<!-- Scelte colori
=================================================================-->

<div id="ColorSelection" class="is-hidden">
    <header>
        <h1>Seleziona il colore</h1>
        <span id="ColorSelection-close" class="CloseDialog">X</span>
    </header>
    <ul>
        <li id="ColorSelection-red" class="ColorChoice ColorChoice--red"><span></span></li>
        <li id="ColorSelection-green" class="ColorChoice ColorChoice--green"><span></span></li>
        <li id="ColorSelection-blue" class="ColorChoice ColorChoice--blue"><span></span></li>
        <li id="ColorSelection-marker" class="ColorChoice ColorChoice--marker">X</li>
    </ul>
</div>

<!-- Vittoria & Sconfitta & Errore
=================================================================-->
<div id="WinDialog" class="is-hidden">
    <header>
        <h1>Hai vinto!</h1>
        <span id="WinDialog-close" class="CloseDialog">X</span>
    </header>
    <p>
        Complimenti! <br/>
        Hai risolto il puzzle! <br/>
        Mettiti alla prova con un altro livello :)
    </p>
    <footer>
        <button id="NewGameWin" class="FlatButton">OK</button>
    </footer>
</div>

<div id="LoseDialog" class="is-hidden">
    <header>
        <h1>Hai perso!</h1>
        <span id="LoseDialog-close" class="CloseDialog">X</span>
    </header>
    <p>
        Peccato, questa soluzione non è corretta :( <br/>
        Continua per trovare quella esatta oppure ricomincia da capo
    </p>
    <footer>
        <button id="ContinueTheGame" class="FlatButton">Continua</button>
        <button id="NewGameLose" class="FlatButton">Ricomincia</button>
    </footer>
</div>

<div id="ExitDialog" class="is-hidden">
    <header>
        <h1>Uscire</h1>
    </header>
    <p>
        Vuoi davvero tornare al men&ugrave;?<br/>
        Perderai la partita in corso!
    </p>
    <footer>
        <button id="Exit" class="FlatButton">S&igrave;</button>
        <button id="ReturnToGame" class="FlatButton">No</button>
    </footer>
</div>





