

<div class="i-g">
    {{#each levels}}

    <div class="i-4">
        <div data-number="{{this.number}}" class="LevelButton" >


            {{#if this.cleared}}

            {{#ifCond this.stars '==' 1}}

            <span class="star fa fa-star"></span>
            <span class="star fa fa-star-o"></span>
            <span class="star fa fa-star-o"></span>

            {{/ifCond}}


            {{#ifCond this.stars '==' 2}}

            <span class="star fa fa-star"></span>
            <span class="star fa fa-star"></span>
            <span class="star fa fa-star-o"></span>

            {{/ifCond}}

            {{#ifCond this.stars '==' 3}}

            <span class="star fa fa-star"></span>
            <span class="star fa fa-star"></span>
            <span class="star fa fa-star"></span>

            {{/ifCond}}

            {{/if}}


            <span class="LevelButton-number">{{this.number}}</span>



        </div>
    </div>

    {{/each}}
</div>
