
// ... tutti i font-face che vuoi ...

/*
@font-face {
    font-family: 'YOUR_NAME';
    src: url(PATH) format('truetype');
}
*/

@font-face {

    font-family: 'Colorz';
    src: url(../fonts/Colorz.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


