/* GENERALE
============================================================================= */
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

ul{
    padding-left: 0;
}

.is-hidden{
    display: none;
}

.error{
    border: 2px solid red;
}


/* TITOLO GIOCO
============================================================================= */

#Title{

    &>h1{

        font-family: "Colorz";
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: -7px;
        margin: 3rem 0;
        text-align: center;
    }
}

.Title-letter--green  { color: #99ff99; }
.Title-letter--yellow { color: #ffcc66; }
.Title-letter--orange { color: #ff9966; }
.Title-letter--red    { color: #ff6666; }
.Title-letter--blue   { color: #9999ff; }



/* LISTA PEDONI RIMASTI
============================================================================= */
#PawnLeft--red,
#PawnLeft--green,
#PawnLeft--blue{

    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 2rem;
    margin: auto;
    text-align: center;

    &::before{

        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 2rem;
        margin-right: 5px;
        position: relative;
        @include transform(translateY(4px));
        width: 2rem;
    }
}

#PawnLeft--red::before   { background-color: #ff0000; }
#PawnLeft--green::before { background-color: #00ff00; }
#PawnLeft--blue::before  { background-color: #0000ff; }



/* SCACCHIERA
============================================================================= */
#ChessboardContainer{

    margin: 50px 0;
    width: 100%;
}

#Chessboard{

    border-collapse: collapse;
    margin: auto;
}

.Chessboard-cell{

    border: 1px solid rgb(119, 119, 119); /* grigio palette */
    height: 50px;
    position: relative;
    text-align: center;
    width: 50px;
}


/* RIEMPIMENTO CELLE & BORDI
============================================================================= */
.Chessboard-border--top--red   { border-top: $cellBorderWidth solid #ff0000; }
.Chessboard-border--top--green { border-top: $cellBorderWidth solid #00ff00; }
.Chessboard-border--top--blue  { border-top: $cellBorderWidth solid #0000ff; }

.Chessboard-border--right--red   { border-right: $cellBorderWidth solid #ff0000; }
.Chessboard-border--right--green { border-right: $cellBorderWidth solid #00ff00; }
.Chessboard-border--right--blue  { border-right: $cellBorderWidth solid #0000ff; }

.Chessboard-border--bottom--red   { border-bottom: $cellBorderWidth solid #ff0000; }
.Chessboard-border--bottom--green { border-bottom: $cellBorderWidth solid #00ff00; }
.Chessboard-border--bottom--blue  { border-bottom: $cellBorderWidth solid #0000ff; }

.Chessboard-border--left--red   { border-left: $cellBorderWidth solid #ff0000; }
.Chessboard-border--left--green { border-left: $cellBorderWidth solid #00ff00; }
.Chessboard-border--left--blue  { border-left: $cellBorderWidth solid #0000ff; }


.Chessboard-cell--red::before,
.Chessboard-cell--green::before,
.Chessboard-cell--blue::before{

    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 85%;
    vertical-align: middle;
    width: 85%;
}

.Chessboard-cell--red::before   { background-color: #ff0000; }
.Chessboard-cell--green::before { background-color: #00ff00; }
.Chessboard-cell--blue::before  { background-color: #0000ff; }


.Chessboard-cell--marker::before{

    content: "X";
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    vertical-align: middle;
}



/* SCELTA COLORE
============================================================================= */
#ColorSelectionContainer, #WinDialog, #LoseDialog{

    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#ColorSelection{

    background-color: rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    width: 90%;

    & > h1{

        background-color: #009999;
        color: white;
        font-family: "Raleway";
        font-size: 1.5rem;
        font-weight: 200;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
    }
}

.ColorChoice{

    display: inline-block;
    list-style: none;
    margin: 20px 0;
    text-align: center;
    width: 49%;

    & > span{

        border-radius: 50%;
        display: inline-block;
        height: 3rem;
        width: 3rem;
    }
}

.ColorChoice--red > span   { background-color: #ff0000; }
.ColorChoice--green > span { background-color: #00ff00; }
.ColorChoice--blue > span  { background-color: #0000ff; }

.ColorChoice--marker{

    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 200;
}

.ColorChoice--clear{

    font-family: "Raleway",sans-serif;
    text-align: right;
    font-size: 1.3rem;
    display: block;
    color: #099;
    padding-right: 3%;
}


/* ERRORI DI GIOCO E DI SOLUZIONE
============================================================================= */
#GameError{

    background: rgba(255, 0, 0, 0.8);
    border-radius: 7px;
    margin: 10px auto 0 auto;
    max-height: 200px;
    opacity: 1;
    @include transition(max-height 2s ease-in, opacity 1s ease-in .3s);
    width: 60%;
}

#GameError.is-hidden{

    max-height: 0;
    opacity: 0;
    @include transition(max-height 2s ease-out, opacity 1s ease-out 1s);
}

#GameError-text{

    color: white;
    font-size: 1.2em;
    padding: 10px 25px;
    text-align: center;
}

#WinDialog > p, #LoseDialog > p{

    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    height: 200px;
    margin: -100px auto 0;
    padding: 10px;
    position: absolute;
    top: 50%;
}









