
#ButtonGirdContainer{

    height: 80%;
    position: relative;
}

#ButtonGrid { width: 100%; }

.HomeButton{

    @include animation(zoomIn .3s ease both);
    border-radius: 50%;
    color: #fff;
    margin: 3rem auto;
    // per rendere l'altezza uguale alla larghezza
    padding: 70% 0px 0px;
    position: relative;
    text-align: center;
    width: 70%;
}

.HomeButtonContainer{

    &:nth-of-type(1) > .HomeButton{ @include animationDelay(.2s); background-color: #003366; }
    &:nth-of-type(2) > .HomeButton{ @include animationDelay(.3s); background-color: #660000; }
    &:nth-of-type(3) > .HomeButton{ @include animationDelay(.4s); background-color: #006600; }
    &:nth-of-type(4) > .HomeButton{ @include animationDelay(.5s); background-color: #333333; }
}


// Media Query
// ============================================================================

@media (min-width: 450px){

    .HomeButton{

        font-size: 1.5rem;
        font-weight: 100;
    }
}
