
.Info-list-item{

    min-height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #C0C0C0;
    padding-left: 10px;
}

.Info-list-icon--right{

    float: right;
    line-height: 3rem;
    margin-right: 10px;
    @include transition(transform .3s ease);
}


.slideVertically{

    overflow: hidden;
    max-height: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-left: 10px;
    @include transition(max-height .3s ease);
}

#Info-list-item--credits.show > .Info-list-icon--right{ @include transform(rotateZ(90deg)); }
#Info-list-item--credits.show > .slideVertically{ max-height: 4rem; }

.Credits-item:last-of-type { margin-bottom: 1rem; }

.u-bold { font-weight: bold; }

