
.Info-list { height: 100%; }

.Info-list-item{

    min-height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #C0C0C0;
    padding-left: 10px;
    color: white;

    &:nth-of-type(1){ @include hueRotate(background-color, 180deg, 55%, 45%, 50 *  1); }
    &:nth-of-type(2){ @include hueRotate(background-color, 180deg, 55%, 45%, 50 *  2); }
}

.info-list-item-text { }

.Info-list-icon--right{

    float: right;
    line-height: 5rem;
    margin-right: 10px;
    @include transition(transform .3s ease);
}


.slideVertically{

    overflow: hidden;
    max-height: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-left: 10px;
    @include transition(max-height .3s ease);
}

#Info-list-item--credits.show > .Info-list-icon--right{ @include transform(rotateZ(90deg)); }
#Info-list-item--credits.show > .slideVertically{ max-height: 10rem; }

.Credits-item:last-of-type { margin-bottom: 1rem; }

.u-bold { font-weight: bold; }


// Media Query
// ============================================================================

@media (min-width: 450px){

    .Info-list-item{

        min-height: 7rem;
        line-height: 7rem;
        font-size: 2rem;
        padding-left: 15px;
    }

    .Info-list-icon--right{

        line-height: 7rem;
        margin-right: 15px;
    }

    #Info-list-item--credits.show > .slideVertically{ max-height: 14rem; }
}









