
#LevelListContainer{

    .LevelButton{

        @include animation(zoomIn .2s ease both);

        background-color: hsl(180deg, 55%, 45%);
        border-radius: 50%;
        color: #fff;
        font-size: 2rem;
        font-weight: 100;
        height: 5rem;
        line-height: 5rem;
        margin: 1rem auto;
        padding: 0;
        position: relative;
        text-align: center;
        width: 5rem;


        .star{

            font-size: 15px;
            position: absolute;
            @include transform(translate3d(-50%, -50%, 0));


            &:nth-of-type(1){

                left: 25%;
                top: 25%;
            }

            &:nth-of-type(2){

                left: 50%;
                top: 15%;
            }

            &:nth-of-type(3){

                left: 75%;
                top: 25%;
            }
        }

    }




    // Iteriamo per 99 volte in modo da cambiare il delay dell'animazione
    // ed il colore dei bottoni
    @for $i from 1 to 99 {

        .i-4:nth-of-type(#{$i}) {

            .LevelButton{

                animation-delay: 0.05s * $i;
                @include hueRotate(background-color, 180deg, 55%, 45%, 20 * $i);
            }
        }
    }
}