
/* TITOLO GIOCO
============================================================================= */

#TitleContainer{

    height: 20%;
    position: relative;
}

#Title{

    width: 100%;
    text-align: center;
}

.Title-letter{

    @include animation(zoomIn .3s ease both);
    border-radius: 50%;
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    display: inline-block;
    padding-top: 90 / 6 * 1%;
    position: relative;
    width: 90 / 6 * 1%;

    &:nth-of-type(1){ @include animationDelay(.05s * 1); @include hueRotate(background-color, 94deg, 70%, 60%, 60 * 1); }
    &:nth-of-type(2){ @include animationDelay(.05s * 2); @include hueRotate(background-color, 94deg, 70%, 60%, 60 * 2); }
    &:nth-of-type(3){ @include animationDelay(.05s * 3); @include hueRotate(background-color, 94deg, 70%, 60%, 60 * 3); }
    &:nth-of-type(4){ @include animationDelay(.05s * 4); @include hueRotate(background-color, 94deg, 70%, 60%, 60 * 4); }
    &:nth-of-type(5){ @include animationDelay(.05s * 5); @include hueRotate(background-color, 94deg, 70%, 60%, 60 * 5); }
    &:nth-of-type(6){ @include animationDelay(.05s * 6); @include hueRotate(background-color, 94deg, 70%, 60%, 60 * 6); }
    &:nth-of-type(7){ @include animationDelay(.05s * 7); @include hueRotate(background-color, 94deg, 70%, 60%, 60 * 7); }

}

.Title-letter--7 { width: 90 / 7 * 1%; padding-top: 90 / 7 * 1%; }


/* GAME
============================================================================= */
#GameContainer{

    height: 80%;
    position: relative;
}

#Game { width: 100%; }


/* TIMER
============================================================================= */

#Timer{

    font-size: 2.5rem;
    font-weight: 100;
    height: 3.5rem;
    text-align: center;

    &.timeExceeded{

        color: red;
        @include transition(color .3s ease);
    }
}


/* LISTA PEDONI RIMASTI
============================================================================= */
#PawnLeft {

    text-align: center;
}


#PawnLeft-dummyContainer--red,
#PawnLeft-dummyContainer--green,
#PawnLeft-dummyContainer--blue{

    display: inline-block;
    height: 2.5rem;
    position: relative;
    vertical-align: middle;
    width: 2.5rem;
}


.PawnLeft--red,
.PawnLeft--green,
.PawnLeft--blue,
.PawnLeft--placeholder{

    @include animation(zoomOut .3s ease forwards);

    border-radius: 50%;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
    // per fare in modo che siano ancora draggabili una
    // volta droppati nella scacchiera
    z-index: 2;
}


.PawnLeft--red   { background-color: $pawnRed; }
.PawnLeft--green { background-color: $pawnGreen; }
.PawnLeft--blue  { background-color: $pawnBlue; }
.PawnLeft--placeholder { background-color: #666666 }

.PawnLeft--red.visible,
.PawnLeft--green.visible,
.PawnLeft--blue.visible,
.PawnLeft--placeholder.visible{

    @include animation(zoomIn .3s ease);
    // perchè quello visibile deve essere quello che viene
    // draggato. Perciò lo mettiamo sopra gli altri
    z-index: 3;
}


#PawnLeft--red-text,
#PawnLeft--green-text,
#PawnLeft--blue-text{

    display: inline-block;
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 2px;
    vertical-align: middle;
    width: 1.5rem;
}


/* SCACCHIERA
============================================================================= */
#ChessboardContainer{

    margin: 50px 0;
    width: 100%;
}

#Chessboard{

    border-collapse: collapse;
    margin: auto;
}

.Chessboard-cell{

    border: 1px solid rgb(119, 119, 119); /* grigio palette */
    height: 3rem;
    position: relative;
    text-align: center;
    width: 3rem;
}


/* RIEMPIMENTO CELLE & BORDI
============================================================================= */
.Chessboard-border--top--red   { border-top: $cellBorderWidth solid $pawnRed; }
.Chessboard-border--top--green { border-top: $cellBorderWidth solid $pawnGreen; }
.Chessboard-border--top--blue  { border-top: $cellBorderWidth solid $pawnBlue; }

.Chessboard-border--right--red   { border-right: $cellBorderWidth solid $pawnRed; }
.Chessboard-border--right--green { border-right: $cellBorderWidth solid $pawnGreen; }
.Chessboard-border--right--blue  { border-right: $cellBorderWidth solid $pawnBlue; }

.Chessboard-border--bottom--red   { border-bottom: $cellBorderWidth solid $pawnRed; }
.Chessboard-border--bottom--green { border-bottom: $cellBorderWidth solid $pawnGreen; }
.Chessboard-border--bottom--blue  { border-bottom: $cellBorderWidth solid $pawnBlue; }

.Chessboard-border--left--red   { border-left: $cellBorderWidth solid $pawnRed; }
.Chessboard-border--left--green { border-left: $cellBorderWidth solid $pawnGreen; }
.Chessboard-border--left--blue  { border-left: $cellBorderWidth solid $pawnBlue; }


/*
.Chessboard-cell--red::before,
.Chessboard-cell--green::before,
.Chessboard-cell--blue::before{

    @include animation(zoomIn .3s ease);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 85%;
    vertical-align: middle;
    width: 85%;

}

.Chessboard-cell--red::before   { background-color: #ff0000; }
.Chessboard-cell--green::before { background-color: #00ff00; }
.Chessboard-cell--blue::before  { background-color: #0000ff; }
*/


.Chessboard-cell--marker::before{

    content: "X";
    display: inline-block;
    font-size: 2rem;
    font-weight: 200;
    vertical-align: middle;
}


/* SCELTA COLORE, VITTORIA, SCONFITTA e USCITA
============================================================================= */
#ColorSelection,
#WinDialog,
#LoseDialog,
#ExitDialog,
#TimeUp{

    background-color: rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    left: 50%;
    position: fixed;
    top: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    width: 90%;
    // deve stare sopra le pedine xD
    z-index: 10;

    & > header{
        position: relative;

        & > h1{

            color: white;
            font-size: 1.5rem;
            font-weight: 200;
            margin: 0;
            padding: 1rem 0;
            text-align: center;
        }
    }

    & > p{

        line-height: 1.6rem;
        padding: 20px 10px;
        text-align: center;
    }

    & > footer{

        padding: 10px;
        text-align: right;
    }
}

#ColorSelection h1,
#ExitDialog h1 { background-color: #009999; }
#WinDialog h1  { background-color: #009933; }
#LoseDialog h1,
#TimeUp h1{ background-color: #660000; }


#obtainedStars{

    color: #e0a352;
    font-size: 2.5rem;
    margin: 30px 0;
    text-align: center;
}

#obtainedStars-first,
#obtainedStars-second,
#obtainedStars-third {

    display: inline-block;
    @include animation(rotateIn .6s ease both);
    margin: 0 10px;
}

#obtainedStars-first { @include animationDelay(.2s); }

#obtainedStars-second {

    position: relative;
    top: -10px;
    @include animationDelay(.3s);
}

#obtainedStars-third { @include animationDelay(.4s); }

#infoStars-first,
#infoStars-second,
#infoStars-third {

    font-size: 1.2rem;
    margin: 10px 0;
    padding-left: 1.5rem;
}


#infoStars-first-icon,
#infoStars-second-icon,
#infoStars-third-icon {

    @include animation(zoomIn .3s ease both);
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 7px;
    min-width: 1.5rem;
    position: relative;
    text-align: center;
    top: 3px;
}

#infoStars-first-icon { @include animationDelay(.6s); }
#infoStars-second-icon { @include animationDelay(.9s); }
#infoStars-third-icon { @include animationDelay(1.2s); }

#infoStars-first-text,
#infoStars-second-text,
#infoStars-third-text  {

    @include animation(fadeInRight .5s ease both);
    display: inline-block;
}

#infoStars-first-text { @include animationDelay(.7s); }
#infoStars-second-text { @include animationDelay(1s); }
#infoStars-third-text { @include animationDelay(1.3s); }

#infoStars .icon_check_alt { color: #00cc33; }
#infoStars .icon_close_alt { color: #990000; }

/*
.ColorChoice{

    display: inline-block;
    list-style: none;
    margin: 20px 0;
    text-align: center;
    width: 49%;

    & > span{

        border-radius: 50%;
        display: inline-block;
        height: 3rem;
        width: 3rem;
    }
}

.ColorChoice--red > span   { background-color: #ff0000; }
.ColorChoice--green > span { background-color: #00ff00; }
.ColorChoice--blue > span  { background-color: #0000ff; }

.ColorChoice--marker{

    font-size: 3rem;
    font-weight: 200;
}
*/


/* TOAST
============================================================================= */
#toast{

    opacity: 0;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    white-space: pre;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    @include transform(translateX(-50%));
    @include transition(opacity .4s ease);

    &.show{
        opacity: 1;
    }
}



// Media Query
// ============================================================================

@media (min-width: 450px){

    .Title-letter{ font-size: 3rem; }

    #Timer{

        font-size: 3.5rem;
        height: 4.5rem;
    }

    #PawnLeft-dummyContainer--red,
    #PawnLeft-dummyContainer--green,
    #PawnLeft-dummyContainer--blue{

        height: 3.5rem;
        width: 3.5rem;
    }

    #PawnLeft--red-text,
    #PawnLeft--green-text,
    #PawnLeft--blue-text{

        font-size: 2rem;
    }

    .Chessboard-cell{

        height: 4rem;
        width: 4rem;
    }

    #WinDialog,
    #LoseDialog,
    #ExitDialog,
    #TimeUp{

        & > header{

            & > h1{ font-size: 2rem; }
        }

        & > p{ font-size: 1.3rem; }
    }

    #obtainedStars{

        font-size: 3.5rem;
        margin: 45px 0;
    }

    #infoStars-first,
    #infoStars-second,
    #infoStars-third { font-size: 1.5rem; }

    #infoStars-first-icon,
    #infoStars-second-icon,
    #infoStars-third-icon {

        font-size: 2rem;
        top: 6px;
    }


    #toast{ font-size: 1.2rem; }

}
